html, body {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
  font-family: sans-serif;
	font-size: 25px;
} 


.main-button {
  display: inline-block;
  padding: 16px 24px;
	font-size: 34px;

}

.counter-page {
	background-color: salmon;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
}